<script type="text/javascript" src="Class/dash.js" ></script>
<script type="text/javascript" src="Class/entity.js" ></script>
<script type="text/javascript" src="Class/animation.js" ></script>
<script type="text/javascript" src="Class/player.js" ></script>
<script type="text/javascript" src="Class/ennemi.js" ></script>
<script type="text/javascript" src="Class/map.js" ></script>
<script type="text/javascript" src="Class/button.js" ></script>
<script type="text/javascript" src="Class/shoot.js" ></script>
<script type="text/javascript" src="Class/mouse.js" ></script>

<script type="text/javascript" src="GameClass/gameClass.js" ></script>
<script type="text/javascript" src="GameClass/game.js" ></script>
<script type="text/javascript" src="GameClass/menu.js" ></script>
<script type="text/javascript" src="GameClass/gameOver.js" ></script>

<script type="text/javascript" src="actualMainClass.js" ></script>
<script type="text/javascript" src="GameClass/actualGameClass.js" ></script>

<!--initialise les variables de base du projet-->
<script type="text/javascript" src="input.js" ></script>

<!--Récupere le contenu des fichiers json-->
<script type="text/javascript" src="loadJson.js" ></script>

<!--Classe contenant diverses fonctions-->
<script type="text/javascript" src="tools.js" ></script>

<!--initialise les variables de base du projet-->
<script type="text/javascript" src="globalParameters.js" ></script>

<!--Squelette du projet-->
<script type="text/javascript" src="index.js" ></script>